.box {
  position: relative;
}

.watch-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #122947;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out;
  display: none;
  width: 100px; /* Set the desired width */
  height: 40px; /* Set the desired height */
}

.box:hover .watch-button {
  display: block;
}

.recent .text {
  padding: 30px;
}

.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}

.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}

.recent p {
  color: #72809d;
}

.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}
