.team .box {
  background:  #c2bdbd;;
  border-radius: 6px;
  border: 2px solid rgb(62 28 131 / 10%);
  padding: 2rem;
  transition: 0.5s;
}
.team.background {
  background-color: #122947; /* Add your desired background color here */
}



.team .title {
  color: #ffffff; /* Add your desired title color here */
}




.team .box:hover {
  box-shadow: 0 0 20px 0 rgba(19, 19, 19, 0.18);
  cursor: pointer;
  background-color: #ffffff; /* Add background color on hover */
}


.team .details {
  text-align: center;
  margin-top: 30px;
}

.team .img {
  width: 100px; /* Increase the width */
  height: 100px; /* Increase the height */
  margin: 0 auto; /* Center the image horizontally */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.team img {
  width: 110%; /* Adjust the width to fill the container */
  height: 110%; /* Adjust the height to fill the container */
  border-radius: 60%; /* Set a circular border */
}

.team .img i {
  color: #108be7;
  font-size: 17px;
  position: absolute;
  bottom: -20px; /* Adjust the value as needed */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}





.team label {
  display: inline-block;
  margin-top: 20px;
}

.team i {
  color: grey;
  margin-right: 8px;
}



.team h4 {
  margin-bottom: 10px; /* Add a gap between h4 and h5 */
}

.team h5 {
  font-weight: normal; /* Style h5 as normal text */
  margin-top: 10px; /* Add a gap between h4 and h5 */
}
