.contact form div {
  display: flex;
  gap: 10px; /* Add a gap between the input fields */
}

.contact .container {
  margin-top: 20px; /* Add margin to create space between sections */
}

.contact h4 {
  width: 100%;
  margin-bottom: 10px; /* Reduce the margin-bottom to create space */
  word-break: break-word; /* Allow long titles to wrap onto multiple lines */
}

.contact textarea,
.contact input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px; /* Add padding for better spacing */
}

.contact h4 {
  width: 100%;
  margin-bottom: 10px; /* Reduce the margin-bottom to create space */
  word-break: break-word; /* Allow long titles to wrap onto multiple lines */
}


.contact form {
  padding: 30px;
}

.contact form button {
  background-color: #122947;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  height: 50px;
  transition: opacity 0.3s ease-in-out;
}

.contact form button:hover {
  opacity: 0.8;
  background-color: #ffffff;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form div {
    flex-direction: column;
    gap: 0; /* Remove the gap between the input fields on smaller screens */
  }
  .contact input {
    width: 100%;
  }
}
